<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="MLBDBConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\GitHub\My-little-business\SITE ASP.NET\MLBDB.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="home.aspx" />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false" />
  </system.webServer>

</configuration>