<!DOCTYPE html>
<html lang="he">
<head>
<title>My Little Business</title>

<link rel="stylesheet" href="/static/css/reset.css" type="text/css" media="screen">
<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen">
<link rel="stylesheet" href="/static/css/layout.css" type="text/css" media="screen">


</head>
<body id="page1">
<!-- header -->
<div class="bg">
  <div class="main">
    <header>
	
         <h1> <a class="logo" href="home">My Little Business</a> <strong class="slog">The most creative ideas</strong> </h1>

    <div class="row-1">             
	<a href="logout"><img src="/static/img/out.png" alt="signout" /></a>  
	<h7><span id='emailUser'> {{emailUser}}</span>,שלום</h7>      
   </div>
	  
	  <div class="row-2">
        <nav>
          <ul class="menu">
            <li><a  href="home">דף הבית</a></li>
           <li><a href="salesEvents">ירידי מכירות</a></li>
			<li><a  href="favorites">מועדפים</a></li>
			<li><a class="active" href="aboutUs">אודות</a></li>
            <li class="last-item"><a href="contacts">צור קשר</a></li>
          </ul>
        </nav>
		</div>
		<div class="row-fav">
	<li><h3>?מי אנחנו</li> </h3>
</br>
<h7>
. "My Little Busines" נועד לבעלי עסקים קטנים ומארגני ירידי מכירות המרכזים עסקים אלו.
 "My Little Business" הנו אתר המאפשר פרסום וקישור בין מארגן הירידים ובעלי העסקים המעוניינים לשתף פעולה. שיתוף פעולה זה נועד להרחיב מעגל הלקוחות של העסקים באמצעות חשיפת המוצרים והשירותים השונים בירידי המכירות. 
 "My Little Business" נותן מענה אולטימטיבי כיוון שהנו בעל ממשק נעים ונוח עבור המשתמש. האתר מאפשר ללקוחות ליצור קשר עם עסקים המעניינים אותם לשם הצעות מחיר והזמנות תוך התאמה למקום הימצאו של הלקוח. 
</h7>
		</br>
		</br>
		</br>
		<h3><li><a  href="https://github.com/racheliel/My-little-business/wiki">דף הפרויקט</a></li>
     </h3>
	  </div>      
	  </div>	  
	  
	  
	  
	  
	   <!-- footer -->
    <footer>
      <div class="row-top">
        <div class="row-padding">
          <div class="wrapper">
            <div class="col-1">
              <h4>:כתובתנו</h4>
              <dl class="address">
                <dt>ישראל<span>Country:</span></dt>
                <dd>ירושלים<span>:עיר</span></dd>
                <dd><a href="#">MyLittleBusinessSite@gmail.com</a><span>דוא"ל</span></dd>
              </dl>
            </div>
            <div class="col-2">
              <h4>עקוב אחרינו</h4>
              <ul class="list-services">
                <li class="item-1"><a href="#">בפייסבוק</a></li>
                <li class="item-2"><a href="#">בטוויטר</a></li>
                <li class="item-3"><a href="#">בלינקדאין</a></li>
              </ul>
            </div>
          
          </div>
        </div>
      </div>
      <div class="row-bot">
        <div class="aligncenter">
          <center>
		  <p class="p0">Copyright &copy; <a href="#">רחלי אלקסלסי, חני גבאי, מיכל גיסרי,אוריאל שני</a></p>
        </center>
		</div>
      </div>
    </footer>
	  
	  
	  
	  
	  </script>
</html>