<!DOCTYPE html>
<html lang="he">
<head>
<title>My Little Business</title>

<link rel="stylesheet" href="/static/css/reset.css" type="text/css" media="screen">
<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen">
<link rel="stylesheet" href="/static/css/layout.css" type="text/css" media="screen">


</head>
<body id="page1" dir="rtl">
<!-- header -->
<div class="bg">
  <div class="main">
    <header>
	
         <h1> <a class="logo" href="home">My Little Business</a> <strong class="slog">The most creative ideas</strong> </h1>
    <div class="row-1">             
      
   </div>
	  <div class="row-2">
        <nav>
          <ul class="menu">
			<li><a  href="home">דף הבית</a></li>
			<li><a href="salesEvents">ירידי מכירות</a></li> 
			<li><a  href="favorites">מועדפים</a></li>
            <li><a class="active" href="aboutUs">אודות</a></li>
			<li class="last-item"><a href="contacts">צור קשר</a></li>           
			
		   	
			
			
          </ul>
        </nav>
		</div>
		<div class="row-fav">
	<li><h3>:קצת עלינו</li> </h3>
		</br>
		<h7>
	"My Little Busines" נועד לבעלי עסקים קטנים ומארגני ירידי מכירות המרכזים עסקים אלו.
		</br>
	"My Little Business" הנו אתר המאפשר פרסום וקישור בין מארגן הירידים ובעלי העסקים המעוניינים לשתף פעולה. שיתוף פעולה זה נועד להרחיב מעגל הלקוחות של העסקים באמצעות חשיפת המוצרים והשירותים השונים בירידי המכירות. 
		</br>
	"My Little Business" נותן מענה אולטימטיבי כיוון שהנו בעל ממשק נעים ונוח עבור המשתמש. האתר מאפשר ללקוחות ליצור קשר עם עסקים המעניינים אותם לשם הצעות מחיר והזמנות תוך התאמה למקום הימצאו של הלקוח. 
		</h7>
		</br>
		</br>
		</br>
		<h3><li><a  href="https://github.com/racheliel/My-little-business/wiki">ויקי החברה</a></li>
     </h3>
	  </div>      
	  </div>	  
	  
	  
	  
	  
	   <!-- footer -->
    <footer>
      <div class="row-top">
        <div class="row-padding">
          <div class="wrapper">
            <div class="col-1">
              <h4>צור קשר</h4>
              <dl class="address">
                <dd><span>Email:</span><a href="#">MyLittleBusinessSite@gmail.com</a></dd>
              </dl>
            </div>
            <div class="col-2">
              <h4>:עקבו אחרינו</h4>
              <ul class="list-services">
                <li class="item-1"><a href="#">Facebook</a></li>
                <li class="item-2"><a href="#">Twitter</a></li>
                <li class="item-3"><a href="#">LinkedIn</a></li>
              </ul>
            </div>
          
          </div>
        </div>
      </div>
      <div class="row-bot">
        <div class="aligncenter">
          <center>
		  <p class="p0">Copyright &copy; <a href="#">Racheli Elkaslasi, Hanni Gabai, Michal Gisri,Uriel Shani</a></p>
        </center>
		</div>
      </div>
    </footer>
	  
	  
	  
	  
	  </script>
</html>