<!DOCTYPE html>
<html lang="en">
<head>
<title>My Little Business</title>

<link rel="stylesheet" href="/static/css/reset.css" type="text/css" media="screen">
<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen">
<link rel="stylesheet" href="/static/css/layout.css" type="text/css" media="screen">
<link rel="stylesheet" href="/static/css/stylesSignUp.css" type="text/css" media="screen">


</head>
<body id="page0">
<!-- header -->

<div class="bg">
  <div class="main">
    <header>
   <h1> <a class="logo" href="homeUserIn">My Little Business</a> <strong class="slog">The most creative ideas</strong> </h1>

       <div class="row-1">             
   </div>
   	   <!-- sign up -->

   <article>
<h1> edit organizer details: </h1>
<form>
	<ul>
        <li id="liStyle">
        	<label for="name">First Name:</label>
            <input type="text" size="20" id="name" />
	    </li>
        <li id="liStyle">
        	<label for="name">Last Name:</label>
            <input type="text" size="20" id="name" />
        </li>
		<li id="liStyle">
        	<label for="name">User Name:</label>
            <input type="text" size="20" id="name" />
	  </li>
        <li id="liStyle">
        	<label for="name">new password:</label>
            <input type="password" size="20" id="name" />
        </li>
        <li id="liStyle">
        	<label for="email">Your Email:</label>
            <input type="email" size="40" id="email" />
        </li>

		
<!--        <li>
            <label for="car">What's my options:</label>
            <select id="car">
                <option>Volvo</option>
                <option>Saab</option>
                <option>Mercedes</option>
                <option>Audi</option>
                <option>Other&hellip;</option>
            </select>
        </li>
        <li>
            <label><input type="radio" name="radio" /> Pick one</label>
            <label><input type="radio" name="radio" /> And stick with it</label>
        </li>
        <li>
			<label><input type="checkbox" /> Can haz tickbox?</label>
        </li> -->
        <li id="liStyle">
            <label>Upload a profile picture:</label>
            <input type="file" />
        </li>
<!--     <li>
        	<label for="message">Message:</label>
            <textarea cols="50" rows="5" id="message"></textarea>
		</li>           -->
	</ul>
    <p>
		       <a href="Organizer1">  <button type="button" class="action">save the change</button></a>
        <button type="reset" class="right">Reset</button>
    </p>
</form>
</article>
	            </div>
            </div>
  

	   <!-- footer -->
	   
    <footer>
      <div class="row-top">
        <div class="row-padding">
          <div class="wrapper">
            <div class="col-1">
              <h4>Address:</h4>
              <dl class="address">
                <dt><span>Country:</span>Israel</dt>
                <dd><span>City:</span>Jerusalem</dd>
                <dd><span>Email:</span><a href="#">MyLittleBusinessSite@gmail.com</a></dd>
              </dl>
            </div>
            <div class="col-2">
              <h4>Follow Us:</h4>
              <ul class="list-services">
                <li class="item-1"><a href="#">Facebook</a></li>
                <li class="item-2"><a href="#">Twitter</a></li>
                <li class="item-3"><a href="#">LinkedIn</a></li>
              </ul>
            </div>
          
          </div>
        </div>
      </div>
      <div class="row-bot">
        <div class="aligncenter">
          <center>
		  <p class="p0">Copyright &copy; <a href="#">Racheli Elkaslasi, Hanni Gabai, Michal Gisri,Uriel Shani</a></p>
        </center>
		</div>
      </div>
    </footer>
 
	  
</html>