<!DOCTYPE html>
<html>
<head lang="he">
    <meta charset="UTF-8">
    <title>Personal data page</title>
    
	<link rel="stylesheet" href="/static/css/reset.css" type="text/css" media="screen">
	<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen">
	<link rel="stylesheet" href="/static/css/layout.css" type="text/css" media="screen">
	<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="application/javascript" src="/static/js/createPageBus.js"></script>
 <script type="application/javascript" src="/static/js/createPageEvent.js"></script>
 

  </head>
<body id="page1" dir="rtl">
	<div class="bg">
		<div class="main">
		<header>
			<h1> <a class="logo" href="home">My Little Business</a> <strong class="slog">The most creative ideas</strong> </h1>

		<div class="row-1">
            <center><h7>ברוך הבא,<span id='emailUser'> {{email}}</span></h7> </center>            
			<a href="logout"><img src="/static/img/out.png" alt="signout" /></a>  
				     
		</div>
</br>

	   <div class="row-pages"><h7><br>
    שם דף העסק החדש: <input type="text" id="page_title"/><br>
    כתובת: <input type="text" id="page_address"/><br>
   שם בעל העסק: <input type="text" id="page_name"/><br>
    אימייל העסק: <input type="text" id="page_emailBuss"/><br>
    פרטי העסק: <textarea name="comments"  id="page_details" cols="30" rows="10"></textarea><br>
    <button id="createPageB">צור דף עסק חדש</button><br><br>

    דפי העסק שלי :
   <div id="pages">

   </div>
  
   </h7>
</div> </div></div> </div>    
   	   <!-- footer -->
    <footer>
      <div class="row-top">
        <div class="row-padding">
          <div class="wrapper">
            <div class="col-1">
              <h4>Address:</h4>
              <dl class="address">
                <dt><span>Country:</span>Israel</dt>
                <dd><span>City:</span>Jerusalem</dd>
                <dd><span>Email:</span><a href="#">MyLittleBusinessSite@gmail.com</a></dd>
              </dl>
            </div>
            <div class="col-2">
              <h4>Follow Us:</h4>
              <ul class="list-services">
                <li class="item-1"><a href="#">Facebook</a></li>
                <li class="item-2"><a href="#">Twitter</a></li>
                <li class="item-3"><a href="#">LinkedIn</a></li>
              </ul>
            </div>
          
          </div>
        </div>
      </div>
      <div class="row-bot">
        <div class="aligncenter">
          <center>
		  <p class="p0">Copyright &copy; <a href="#">Racheli Elkaslasi, Hanni Gabai, Michal Gisri,Uriel Shani</a></p>
        </center>
		</div>
      </div>
    </footer>
    
<script language="javascript" type="text/javascript">
function addtext() {
	var newtext = document.myform.inputtext.value;
	document.myform.inputtext.value="";
	document.myform.outputtext.value +="\n";
	document.myform.outputtext.value += newtext;
}
</script>
</body>
</html>