<!DOCTYPE html>
<html lang="en">
<head>
<title>My Little Business</title>

<link rel="stylesheet" href="/static/css/reset.css" type="text/css" media="screen">
<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen">
<link rel="stylesheet" href="/static/css/styleLogin.css" type="text/css" media="screen">
<link rel="stylesheet" href="/static/css/layout.css" type="text/css" media="screen">
<script type="text/javascript" src="/static/js/index.js"></script>
</head>
<body id="page0">
<!-- header -->

<div class="bg">
  <div class="main">
    <header>
   <h1> <a class="logo" href="home">My Little Business</a> <strong class="slog">The most creative ideas</strong> </h1>

<!--login-->

	<div class="row-login">
        <div class="row-padding">
          <div class="wrapper">
		  <p>
	 Login :<br>
        <input type="text" placeholder="email@example.com" id="login_email"><br>
        <input type="password" placeholder="password" id="login_password"><br>
        <center><input type="submit" name="login" id="login" class="login-button" value="login" tabindex="3" style="float:center; width:100px; height:25px;"></center>


    <p class="forgot-password"><a href="home">Forgot your password?</a></p>
  </form>

	</p>
	
	  </div>  </div>
        </div>
        
        
                   	   <!-- sign up -->
<div class="wrapper">	
     <div class="row-signup">


   <article>
<center><h7> :הרשמה </h7></center>
<form>
	<ul>
        <li id="liStyle"><p>
        	<label for="email">Your Email:</label>
            <input type="email" size="30" id="email" /><h7>:אימייל</h7>
        </li></br></p>
        <li id="liStyle"><p>
        	<label for="name">password:</label>
            <input type="password" size="20" id="name" /><h7>:סיסמא</h7>
        </li></br></p>
        <li id="liStyle">
            <label>Upload a profile picture:</label>
            <input type="file" /><h7>:העלאת תמונת פרופיל</h7>
        </li>

	</ul>
    <p>
               <center><a href="homeUserIn"><button id="register">הרשם</button></a>
                             <h7><button type="reset" class="right">נקה</button></h7>
    </p>
</form>
</article>
	            </div>
            </div>
  

 </div>
</div>   

	   <!-- footer -->
	   
    <footer>
      <div class="row-top">
        <div class="row-padding">
          <div class="wrapper">
            <div class="col-1">
              <h4>Address:</h4>
              <dl class="address">
                <dt><span>Country:</span>Israel</dt>
                <dd><span>City:</span>Jerusalem</dd>
                <dd><span>Email:</span><a href="#">MyLittleBusinessSite@gmail.com</a></dd>
              </dl>
            </div>
            <div class="col-2">
              <h4>Follow Us:</h4>
              <ul class="list-services">
                <li class="item-1"><a href="#">Facebook</a></li>
                <li class="item-2"><a href="#">Twitter</a></li>
                <li class="item-3"><a href="#">LinkedIn</a></li>
              </ul>
            </div>
          
          </div>
        </div>
      </div>
      <div class="row-bot">
        <div class="aligncenter">
          <center>
		  <p class="p0">Copyright &copy; <a href="#">Racheli Elkaslasi, Hanni Gabai, Michal Gisri,Uriel Shani</a></p>
        </center>
		</div>
      </div>
    </footer>
  </div>
</div>
	  
</html>